:root{
    --darkBackGround:#011B2A;
    --lightBackGround:#E5E5E5;
    --lightFont:#224957;
    --darkFont:#FFFFFF;


}
body{
    margin: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,42,1) 35%, rgb(8, 8, 61) 100%);
    font-family: 'Raleway', sans-serif;
}
.App{
    width: 100vw;
    display: flex;
    height: 100vh;
    
}
.Login-Parent{
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content:center ; */
    align-items: center;
    height: 100vh;

    
}
.Login-Form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.glassMorphism{
    
   
        backdrop-filter: blur(4px) saturate(78%);
        -webkit-backdrop-filter: blur(4px) saturate(78%);
        background-color: rgba(17, 25, 40,0.1);
        border-radius: 12px;
        
    
}
.dark{
    
    background: linear-gradient(109.6deg, rgb(4, 18, 32) 10%, rgb(0, 0, 0) 100%);
    color:var(--darkFont) 

}
.sign-In{
   font-weight: 400;
   margin-bottom: 10px;
    
}
.form-class{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 40px;
  
}
.input{

border-radius: 10px;
width: 300px;
height: 35px;
border: none;
margin-bottom: 10px;
padding: 7px;

}

input:hover{
    opacity: 0.6;
}
input:focus{
    opacity: 1;
}

.darkInput{
    background: rgb(0, 0, 0,0.3);
    color: #FFFFFF;
}

::placeholder { 
    color: var(--darkFont);
   
  }
  .input:focus {
  outline: none;
  }
  .checkbox{
    margin-right: 2%;
    opacity: 0.4;
    color: #E5E5E5;
     }
.check-box-div{
    width: 100%;
   
}
.remember-me{
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.login-button{
    margin-top: 20px;
    margin-bottom: 14px;
    width: 100%;
    background-color: #1dac64;
    color: white;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    
}

.login-button:hover{
    opacity: 0.9;
}
.create-signUp{
    margin-right: 10px;
}
.sign-up:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color:#FFFFFF ;

}

#signUpParent{
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content:center ; */
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    justify-self: start;
    align-self: center;
    
    
}
.nameDiv{
    display: flex;
    gap:15px;
}

.sign-Up-title{
    font-weight: 400;
    margin-bottom: 20px;
}

.form-class > section{
    display: flex;
     flex-direction: column;
    position: relative;
    height: auto;
}

section > span{
    display:flex;
    position: absolute; 
    font-size: 9px;
    top: -3px;
    background-color: transparent;
    left: 23px;
        
}

.show-icon{
    display: flex; 
     cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    right: 5px;
    top: -3px;
    padding: 3px;
    padding-top: 0px;
   
  
}
small:hover{
    opacity: 0.9;
}
